@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.jumbotron{
    background-color: #DEDEDE;
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin: 0 0 1rem 0;
}

.text-center{
    text-align: center;
}

form{
    border: black solid 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 3rem 1rem;
    
}
.col{
    margin: 0 0 1.5rem 0;
}

label{
    display: block;
    margin-bottom: 0.5rem;
}

input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

input:hover{
    box-shadow: 0 0 0.5rem blue;
}

a{
    float: right;
    color: white;
    background-color: blue;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: right;
    padding: 0.5rem;
}

table{
    border-collapse: separate;
    border-spacing: 0;
    margin: 1.5rem auto;
}

td{
    width: 125px;
    height: 125px;
    font-size: 50px;
    border: 1px solid darkgray;
    text-align: center;
}

@media screen and (max-width: 414px){
    html{
        font-size: 16px;
    }

    .d-none{
        display: none;
    }

    .container{
        margin: 0 auto;
        max-width: 100%;
    }
    .aside{
        display: none;
    }
}
@media screen and (min-width: 414px) and (max-width: 1181px){
    .aside{
        display: flex;
        width: 30%;
    }
    .aside>img{
        width: 100%;
        height: 100%;
    }
    td{
        width: 125px;
        height: 125px;
    }
    html{
        font-size: 18px;
    }
}
@media screen and (min-width: 1181px){
    main{
        width: 70%;
    }
    a:hover{
        box-shadow: 0 0 0.5rem blue;
    }
    .aside{
        display: flex;
        width: 300px;
    }
    .aside>img{
        width: 100%;
        height: 100%;
    }
    col{
        width: 49%;
        padding: 2%;
    }
    td{
        width: 200px;
        height: 200px;
    }
    html{
        font-size: 22px;
    }
}

